XY_DB_BACKEND=mysql
# Host mode: 127.0.0.1
# Docker mode: use your MySQL container or service name, for example xianyu-mysql
XY_MYSQL_HOST=xianyu-mysql
XY_MYSQL_PORT=3306
XY_MYSQL_USER=xianyu
XY_MYSQL_PASSWORD=xianyu123456
XY_MYSQL_DATABASE=xianyu_report
XY_MYSQL_CHARSET=utf8mb4
XY_CRAWLER_MODE=xianyu_curl
XY_DEFAULT_LIMIT=20
XY_XIANYU_COOKIE_STRING=
XY_XIANYU_FETCH_DETAIL_DESC=1
XY_XIANYU_DETAIL_MAX_ITEMS_PER_KEYWORD=5
XY_XIANYU_DETAIL_MIN_LENGTH=18
