MYSQL_CONTAINER_NAME=xianyu-mysql
MYSQL_ROOT_PASSWORD=root123456
MYSQL_DATABASE=xianyu_report
MYSQL_USER=xianyu
MYSQL_PASSWORD=xianyu123456
MYSQL_PORT=3306
MYSQL_TZ=Asia/Shanghai
MYSQL_DATA_DIR=./deploy/linux/mysql-data
