XY_DB_BACKEND=mysql
XY_MYSQL_HOST=120.77.38.20
XY_MYSQL_PORT=3306
XY_MYSQL_USER=xianyu
XY_MYSQL_PASSWORD=xianyu123456
XY_MYSQL_DATABASE=xianyu_report
XY_MYSQL_CHARSET=utf8mb4
XY_CRAWLER_MODE=xianyu_browser
XY_DEFAULT_LIMIT=20
XY_XIANYU_BROWSER_HEADLESS=0
XY_XIANYU_BROWSER_CHANNEL=chrome
XY_XIANYU_BROWSER_USER_DATA_DIR=data/browser_profile
XY_XIANYU_BROWSER_STORAGE_STATE_PATH=data/browser_state.json
XY_XIANYU_BROWSER_MANUAL_WAIT_SECONDS=60
XY_XIANYU_BROWSER_RESPONSE_WAIT_MS=2500
XY_XIANYU_FETCH_DETAIL_DESC=1
XY_XIANYU_DETAIL_MAX_ITEMS_PER_KEYWORD=5
XY_XIANYU_DETAIL_MIN_LENGTH=18
XY_XIANYU_COOKIE_STRING=
